/*COLORES ADOBE COLOR */

/*

1.  #FF969E
2.  #E5878E 
3.  #BF7077
4.  #7F4B4F
5.  #402528

*/



*{
  // outline: 2px solid red;
  padding: 0px;
  margin: 0px;
}
// HEADER
#icono-contacto{
    color:#402528;
    text-decoration:none;
    .icon-github {
        color:#333;
        font-size:40px;
        margin-left:450px;
        text-decoration:none;
        position:fixed;
        z-index:1000;
        &:hover{
         color:#FF969E;
         font-size:42px;
        }
    }
     .icon-linkedin{
        color:#333;
        font-size:40px;
        margin-top:3%;
        margin-left:450px;
        text-decoration:none;
        position:fixed;
        z-index:1000;
          &:hover{
        color:#FF969E;
        font-size:42px;
      }
    }

}


/*ABOUTME*/
@import "parciales/_variables.scss";
@import "parciales/_menu.scss";
@import "parciales/_media.scss";




#aboutme{
  background: #BF7077;
  height: 75vh;
  font-family: 'Baumans', cursive;
    #texto-habilidades{
      font-size: 18px;
      margin-top:9%;
    }
      h1{
      color: #402528;
      font-size: 50px;
      font-family: 'Baumans', cursive;
   }
      #foto-perfil{
      margin-top:7%;
      border-radius:50px;

      }


}
#miFrase{
   height: 30vh;
   color:#402528;
   background-image:url("../img/vintage-1283628_1920.jpg");
   background-repeat: no-repeat;
  background-size:cover;
  background-position: center buttom;
  font-family: 'Baumans', cursive;


}

/*HABILIDADES*/

#habilidades{
    background-image:url("../img/habilidades.jpg");
    height: 100vh;
    color:#E5878E;
    h1{
      color: #402528;
      font-size: 50px;
      font-family: 'Baumans', cursive;
   }
   .habili-progress{
      margin-top: 2%;
   }

   // iconos
   .icon-html-five , .icon-css3 ,.icon-brand4 , .icon-html-five2 , .icon-bold , .icon-brand4, .icon-flattr , .icon-wordpress , .fa-medium , .icon-mask {
    font-size:40px;
   }  
}
// PROYECTOS//

#proyectos{
  width: 100%;
  height:110vh;
  background: #BF7077;
  font-family: 'Baumans', cursive;
      h1{
      color: #402528;
      font-size: 50px;
      font-family: 'Baumans', cursive;
   }
  #color{

      // background:#7F4B4F;
         #proyecto-laptop{
          width:100%;
          height:32vh;
           background-image:url("../img/laptop.png");
           background-repeat: no-repeat;
          background-size:100%;
          background-position: center;
          font-family: 'Baumans', cursive;

        }
      }
}
// CONTACTO//

#contacto{
  width: 100%;
  height:40vh;
  background: #7F4B4F;
  color: #BF7077;
  font-family: 'Baumans', cursive;
      h1{
      color: #402528;
      font-size: 50px;
      font-family: 'Baumans', cursive;
   }
    .icon-mail4,.icon-mobile{
        color:#FF969E;
        font-size:40px;
        margin-left:40%;
      }
      button{
         padding: 18px 25px;
        background:transparent;
        border:solid #FF969E;
        border-radius: 20px;


      }

    }

// FOOTER//

footer{
  background:#402528;
   #footer{
      color:#fff;
      font-family: 'Baumans', cursive;

    }
}






