@media (max-width:1000px){
	#aboutme{
		#nombre{
		span h1{
			font-size:20px;
		    }
		}

      #responsive #texto-habilidades{
		font-size:15px;
	}
}
   header #mouse-scroll {
    margin-left:35%;
    margin-top:40%;
  
     }
   #icono-contacto{
	    .icon-linkedin{
	        margin-right:20%;
	        font-size:60px;
	    }
	    .icon-github {
            margin-left:-60px;
            font-size:60px;
            position:relative;
	    }
   }

	
}